#Flutter
website/build
website/linux
website/leans.iml
website/pubspec.lock
website/.metadata
website/.flutter-plugins
website/.flutter-plugins-dependencies
website/.dart_tool
website/.idea
#Nodejs
website_server/node_modules
website_server/package-lock.json
#Personal Scripts
refresh_server.sh
update_server.sh
server_rsa